@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9F9F9;
}

html.dark body {
    background-color: #2f2f2f; /* Dark gray for dark mode */
    color: #F7FAFC; /* Light text for dark mode */
  }